<div class="cont">
  <div class="images"></div>
  <div class="text">
    <p class="phone">
      <a class="phonee">+7{{advert.OwnerPhone}}</a><br>
      <a class="bold">{{advert.OwnerName}}</a>
    </p>
    <p class="address">
      Адрес:<br>
      <a class="bold">{{advert.District}} р-н, ул. {{advert.Street}}, д. {{advert.HouseNumber}}</a>
    </p>
    <div class="block">
      <p class="price">
        Стоимость:<br>
        <a class="bold">{{advert.Price}} ₽</a>
      </p>
      <p class="price">
        Площадь:<br>
        <a class="bold">{{advert.Area}} м2</a>
      </p>
    </div>
    <div class="block">
      <p class="price">
        Количество комнат:<br>
        <a class="bold">{{advert.Rooms}}</a>
      </p>
      <p class="price">
        Номер этажа:<br>
        <a class="bold">{{advert.Floor}}</a>
      </p>
    </div>
    <p class="desc">
      <strong>Описание:</strong><br>
      {{advert.Description}}
    </p>
  </div>
</div>
