<form #form="ngForm" (ngSubmit)="sendForm(form)">
  <input type="text" placeholder="Район" name="district" ngModel required>
  <input type="text" placeholder="Улица" name="street" ngModel required>
  <input type="text" placeholder="Дом" name="houseNumber" ngModel required>
  <input type="text" placeholder="Площадь, м2" name="area" ngModel required>
  <input type="text" placeholder="Этаж" name="floor" ngModel required>
  <input type="text" placeholder="Комнаты" name="rooms" ngModel required>
  <textarea type="text" placeholder="Описание" name="description" ngModel required></textarea>
  <input type="text" placeholder="Цена" name="price" ngModel required>
  <input type="text" placeholder="Ваше имя" name="ownerName" ngModel required>
  <input type="text" placeholder="Ваш номер телефона (без +7)" name="ownerPhone" ngModel required>
  <button type="submit">Создать объявление</button>
</form>
