<form #form="ngForm" (ngSubmit)="sendForm(form)">
  <p class="title">Регистрация</p>
  <input type="text" name="name" placeholder="Имя" ngModel required>
  <input type="text" name="surname" placeholder="Фамилия" ngModel required>
  <input type="text" name="phone" placeholder="Номер телефона (без +7)" ngModel required>
  <input type="password" name="password" placeholder="Пароль" ngModel required>
  <button type="submit">Войти</button>
  <a class="reg" routerLink="">Уже зарегистрированы? Войти</a>
</form>
