@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.advert{
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
p{
  margin: 0px;
  font-family: Montserrat;
  font-style: normal;
}
.desc{
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #FC7756;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.adress{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #051F36;
}
.price{
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #051F36;
}
.owner{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #051F36;
}
.image{
  width: 270px;
  height: 270px;
  background: #CDCDCD;
  border-radius: 12px;
}
