body{
  margin: 0px;
}
button{
  padding: 11.5px 23px;
  border-style: none;
  height: 40px;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.white{
  background: #FFFFFF;
  color: #FE903B;
}
.colored{
  background: linear-gradient(180deg, #FC7756 0%, #FFA523 100%);
  color: #FFFFFF;
}
